/* Google fonts */

/* Variables Css */
:root{
    --header-height: ;

/* COLORES */
--hue-color: 206;
--black-color: ;
--black-color-alt: ;
--title-color: ;
--text-color: ;
--text-color-light: ; 
--white-color: ;
--body-color: ;
--container-color: ;
--text-gradient: ;
--scroll-thumb-color: ;
--scroll-thumb-color-alt: ;


}