/* =================== Google fonts  =================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
/* Variables Css */
:root{
    --header-height: 3rem;

/*  =================== COLORES  ===================*/
/* hsl = hue(tono) saturation(tonalidad) lightness(matiz) */
--hue-color: 206;
--black-color: hsl(var(--hue-color),4% ,4%);
--black-color-alt: hsl(var(--hue-color),4% ,8%);
--title-color: hsl(var(--hue-color),4% ,95%);
--text-color: hsl(var(--hue-color),4% ,75%);
--text-color-light: hsl(var(--hue-color),4% ,65%); 
--white-color: #fff;
--body-color: hsl(var(--hue-color),4% ,6%);
--container-color: hsl(var(--hue-color),4% ,10%);;
--text-gradient: linear-gradient(hsl(var(--hue-color),4% ,24%), hsl(var(--hue-color),4% ,8%));
--scroll-thumb-color: hsl(var(--hue-color),4% ,16%);
--scroll-thumb-color-alt: hsl(var(--hue-color),4% ,20%);

/* =================== Font y tipografia  =================== */
--body-font: 'Noto Sans JP', sans-serif;
--biggest-font-size: 5rem;
--bigger-font-size: 3.5rem;
--big-font-size: 2.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;
--text-line-height: 2rem;

/*=================== font weight ===================*/
--font-medium: 500;
--font-semi-bold: 600;

/*=================== margenes abajo ===================*/
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;

/* =================== Z index =================== */  
--z-tooltip: 10;
--z-fixed: 100;

}

/*=================== RESPONSIVE DESIGN =================== */
@media screen and (min-width: 968px) {
    :root{
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;  
    }
}


/* =================== CSS BASE ===================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3{
    color: var(--title-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

button,
input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}

/*  ===================  CSS REUSABLE  ===================  */
.section{
    padding: 4rem 0 2rem;
}

.section_tittle{
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5); 
}

.section_tittle-gradient{
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* =================== LAYOUT =================== */
.main{
    overflow: hidden; /*  Se usa para la animacion y las imagenes */
}
.container{
    max-width: 986px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
}

/* =================== HEADER =================== */
.header{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;
}

/* =================== NAVBAR =================== */
.nav{
    height: var(--header-height);
    display: flex;   
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    display: flex;
    width: 6rem;
}
.nav_toggle{
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .4s;                 /*ANIMACION DEL NAVBAR*/
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav_link{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    background: var(--text-gradient);
    color: transparent; 
    /* Con el webkit agregas el background gradiante y el color transparente al texto */
    -webkit-background-clip: text;
    background-clip: text;
}
.nav_link:hover{
    background: var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.nav_close{
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--white-color);
    cursor: pointer;
}

/* ============= MOSTRAR MENU ===========*/
.show-menu{
    top: 0;

}

/* Cambiar background del Header */
.scroll-header{
    background-color: var(--body-color);
}

/* Link Activo */

/* ============= HOME ===========*/
.home_img{
    width: 300px;
    position: absolute;
    top: -1rem;
    right: 1.5rem;
}
.home_data{
    padding-top: 5rem;
}

.home_header{
    position: relative;
}

.home_tittle{
    font-size: var(--biggest-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: -4rem;
    left: 1rem;
    line-height: 6rem;
}

.home_subtittle{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2-5);
}

.home_tittle-description{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home_description{
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-height);
}

.home_price{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
}

/* ============= BUTTONS ===========*/
.button{
    display: inline-block;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--black-color-alt);
}
.button_icon{
    font-size: 1.2rem;
}
.button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}


/* ============= SPONSOR ===========*/
.sponsor_img{
    width: 90px;
}
.sponsor_container{
    /* El grid de abajo crea un template de columnas en repeticion automaticas, con un minimo de 110px */
    grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
    justify-items: center;
    align-items: center;
}


/* ============= INFO ===========*/
.info_container{
    position: relative;
}

.info_content{
    row-gap: 1.5rem;
}

.info_data{
    display: grid;
    row-gap: .25rem;
}

.info_icon{
    font-size: 1.2rem;
    color: var(--white-color);
}

.info_tittle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.info_subtittle{
    font-size: var(--smaller-font-size);
}

.info_data:nth-child(1), .info_data:nth-child(4){
    margin-left: var(--mb-1-5);
}

.info_img{
    width: 250px;
    position: absolute;
    top: 1.5rem;
    right: -2rem;
}


/* ============= CASE ===========*/
.case_container{
    position: relative;
    grid-template-columns: repeat(2,1fr);
}
.case_data{
    padding: .5rem 0 3rem;
}
.case_img{
    width: 250px;
    position: absolute;
    left: -3rem;
}
.case_description{
    margin-bottom: var(--mb-1-5);
    line-height: var(--text-line-height);
}

/* ============= DISCOUNT ===========*/
.discount_container{
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
}
.discount_tittle{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}
.discount_description{
    margin-bottom: var(--mb-1);
}
.discount_img{
    width: 150px;
    position: absolute;
    top: 4rem;
    right: -3rem;
}

/* ============= PRODUCTOS ===========*/
.producto_line{
    line-height: 4rem;
}
.producto_container{
    grid-template-columns: repeat(2,1fr);
    gap: 5rem 1.5rem;
    padding-top: 3rem; 
}
.producto_card{
    position: relative;
    height: 132px;
    background-color: var(--container-color);
    padding: .75rem;
    border-radius: .5rem;
    display: grid;
}
.producto_img{
    width: 80px;
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    top: -3rem;
}
.producto_content{
    align-self: flex-end;
}
.producto_tittle, .producto_price{
    font-size: var(--small-font-size);
}
.producto_price{
    font-weight: var(--font-semi-bold);
}
.producto_button{
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    padding: .5rem;
    border-radius: .35rem;
}


/* ============= FOOTER ===========*/
.footer_container{
    grid-template-columns: repeat(auto-fit, minmax(220, 1fr));
    row-gap: 2rem;
}

.footer_logo{
    width: 6rem;
}

.footer_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer_link{
    color: var(--text-color);
}

.footer_link:hover{
    color: var(--white-color);
}

.footer_form{
    display: flex;
    column-gap: .5rem;
    background-color: var(--container-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
}

.footer_input{
    background-color: var(--container-color);
    width: 90%;
    color: var(--white-color);
}

.footer_input::placeholder{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}
.footer_social{
    display: flex;
    column-gap: 1.25rem;
}

.footer_social-link{
    display: inline-flex;
    color: var(--white-color);
    background-color: var(--container-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}

.footer_social-link:hover{
    background-color: var(--black-color);

}

.footer_copy{
    margin-top: 5rem;
    text-align: center;
}

.footer_copy-link{
    font-size: smaller;
    color: var(--text-color-light);
}

/* ============= SCROLL UP ===========*/

/*Show Scroll Up*/

/* ============= SCROLL BAR ===========*/



/* ============= MEDIA QUERIES ===========*/
/*For small devices*/


/*For medium devices*/


/*For large devices*/